/*==================Variable CSS ========================*/
:root {
  --primary: #b87333; /* Doré luxe */
  --dark: #0f172a; /* Bleu nuit */
}
/*=======================================================*/

/*================ Navigation ===========================*/
/* NAVBAR BASE */
#mainNav {
  background: #0f172a;
  padding: 18px 0;
  transition: all 0.4s ease;
}

/* NAVBAR APRÈS SCROLL */
#mainNav.scrolled {
  background: rgba(15, 23, 42, 0.95);
  backdrop-filter: blur(8px);
  padding: 10px 0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

/* LOGO */
.navbar-brand {
  color: var(--primary) !important;
  letter-spacing: 1px;
  transition: color 0.3s;
}

/* LIENS */
.nav-link {
  color: var(--primary) !important;
  font-weight: 500;
  margin-left: 20px;
  position: relative;
  transition: all 0.3s ease;
}

/* LIGNE ANIMÉE SOUS LE LIEN */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: white !important;
}

/* LIEN ACTIF */
.nav-link.active {
  color: white !important;
}
/*=================== Header ============================*/
